

 body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: #111;
      color: white;
    }

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      backdrop-filter: blur(5px);
      border: 0.5px solid gray  ;
      background: #00000083;
      padding: 15px 20px;
      margin: 20px 10% 0px 10%;
      border-radius: 10px;
      position: sticky;
      top: 20px;
      z-index: 999;
    }

    .navbar .logo {
      font-size: 24px;
      font-weight: bold;
      color: rgb(240, 112, 6);
    }

    .menu {
      display: flex;
      gap: 10px;

    }

    .menu a {
      text-decoration: none;
      color: white;
      font-size: 18px;
      padding: 5px;
      border-radius: 10px;
    }

    

    .hamburger {
      display: none;
      flex-direction: column;
      cursor: pointer;
      gap: 5px;
    }

    .hamburger div {
      width: 25px;
      height: 3px;
      background-color: white;
    }
  
    /* Responsive */
    @media (max-width: 768px) {
      .menu {
        display: none;
        flex-direction:column;
        background: #222222cf;
        backdrop-filter: blur(5px);
        position: absolute;
        top: 60px;
        right: 0;
        width: 87%;
        text-align: right;
        padding: 20px;
      }
      .menu a:hover{
        color: rgb(240, 112, 6);
    }
    .menu a:hover{
        box-shadow: inset 0px 0px 0px rgba(255, 87, 34,0.5);
        background: linear-gradient(to right,rgb(154, 72, 5) 2%,rgb(81, 41, 3) 40%,#222222cf 100%);
    }
      .menu a:hover{
         color: rgb(240, 112, 6);
      }
      .menu.active {
        display: flex;
      }

      .hamburger {
        display: flex;
      }
    }

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:black;
    color:white
    
    }
.home{
    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    position: sticky;
    top: 0;
    right: 0;
    border: none;
    backdrop-filter: blur(2px);
    background-color:rgb(0, 0,0,0.2);
}
#intro img{
    height: 40px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
#protail a{
    color: rgb(240, 112, 6);
}
#protail a:hover{
    color: orange;
}
#tail {
    display: flex;
    justify-content: right;
    align-items: right;
    width: 100%;
    
    
}
#tail :hover,
#tail .active{
    color: rgb(240, 112, 6);
    transition: 0.5s;
}
li{
    list-style: none;
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color:white;
}
.profile{
    display: grid;
    grid-template-columns:repeat(auto-fit,300px);
    justify-content: center;
    background-color:#dabcf7;
    background-color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 600px;
    border-radius: 20px;
    margin: 10px;
    margin-top: 30px;
    border: none;
    
}
#head{
    color:rgb(240, 112, 6);
}

#image img{
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    width: 200px;
    background-color:gray;
    border-radius: 100px;
    
}
#image a{
    line-height: 200px; 
    color:black;
}
#intro{
    text-align:center;
    font-weight: bolder;
}
#intro ul{
    justify-content: left;
    align-items:left;
    text-align:left;
    margin-left: 10px;
}
#intro li{
    color: rgb(240, 112, 6);
}
.card{
    justify-content:center;
    align-items:justify;
    text-align: justify;
    font-weight: bolder;
    padding: 20px;
    padding-top: 0px;
    border-radius: 20px;
    margin: 10px;
    line-height: 30px;
    border:1px solid rgb(82,79,79);
    
}

.block {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) minmax(900px, 2fr);
 
  margin-left: 40px;
}
.header h3{
    margin: 0;
}
.details p{
    margin: 0;
}
.details{
    margin-bottom: 15px;
    margin-left: 15px;
}

@media (max-width: 900px) {
  .block {
    grid-template-columns: 1fr;
  }
}

.block .header{
    font-weight: bolder;
}




.container{
    margin: 30px auto;
    width: 83%;

}
.bio{
    padding:10px;
    justify-content:center;
    align-items: center;
    display: grid;
    margin: 0px auto;
    grid-template-columns:repeat(auto-fit,minmax(500px,1fr));

}

.bio h2{
    color: rgb(240, 112, 6);
    text-transform: capitalize;
    font-weight: bolder;
}
.card ul{
    display:grid;
    margin-left: 40px;
}
.card #ach{
    padding-bottom: 15px;
    color: rgb(240, 112, 6);
}

.skills{
    justify-content:center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    
}
.skills h2{
    text-align: left;
    color: rgb(240, 112, 6);
}
.skills {
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr)); 
}
.skills img{ 
    margin: 30px;
    
}
.langs{
    margin: 10px;
}

.inbody{
    margin-top: 30px;
    width: 83%;
    margin: 30px auto;
}
.lang{
    border: 1px solid rgb(82,79,79);
    border-radius: 20px;
    margin: 20px;
}
#la{
    margin: 20px;
}
.langs img{
    height: 85px;
    border-radius: 20px;
    
}

#js{
    height: 75px;
}
.project{
    margin: 30px;
    color: rgb(240, 112, 6);
}
.pro{
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    border-radius: 20px;

}
.port{
    color: rgb(240, 112, 6);
}

.blck{
    display: flex;
}
.procard{
    margin: 40px;
    border-radius: 20px;
    max-width: 300px;
    width:auto;  
    border: 3px solid rgb(82,79,79);
    transition: transform 0.3s;
    background-color:rgba(0, 0, 0, 0.905);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 1px rgb(240, 112, 6);
    z-index: 99;

}
    
#prohead{
    background-color: aliceblue;
    height: 200px;
    width: auto;
    border-radius: 20px;
    
}
#prohead button{
    background-color: blue;
    height: 200px;
    border-radius: 20px;
}
#protail{
    margin-left: 20px;
    margin-right: 20px;
    line-height: 20px;
    background-color:rgba(0, 0, 0, 0.905);
    backdrop-filter: blur(10px);
}
#py{
    height:100%;
    width:100%;
    border-start-start-radius: 20px;
    border-start-end-radius:20px ;
    
}

#project{
    margin-bottom: 50px;
}
body{
    margin: flex;
    align-items: center;
    justify-content: center;

}
.contact{
    margin-top: 20px;
    display: grid;

}  
.types{
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    width: 84%;
    margin: 30px auto;
}
    
.types img{
    height: 50px;
    border-radius: 10px;
    text-align: left;
    margin: 10px;
    
}
#phone{
    border: 1px solid gray;
    margin: 30px;
    padding: 30px;
    border-radius: 20px;
}
#phone :hover{
    color: rgb(240, 112, 6);
}

















